.section {
    width: 100%;
    min-height: 100vh;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

}

.section h1 {
    padding-top: 20px;
    text-align: center;
}

.section .box {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-body .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

textarea {
    resize: none;
}

.modal-footer {
    display: flex;
    flex-wrap: wrap;
    padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap) * .5);
    background-color: var(--bs-modal-footer-bg);
    border-top: var(--bs-modal-footer-border-width) solid var(--bs-modal-footer-border-color);
    border-bottom-right-radius: var(--bs-modal-inner-border-radius);
    border-bottom-left-radius: var(--bs-modal-inner-border-radius);
    justify-content: space-around;
    flex-direction: column;
}

.modal .btn {
    width: 100%;
}